* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  background: rgba(205, 118, 255, 0.5);
}

::selection {
  background: rgba(205, 118, 255, 0.5);
}

body {
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  background-color: #e3e6ec;
  background-image: url(./assets/background.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

blockquote {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

ul {
  padding-left: 40px;
}

li {
  padding-right: 40x;
}

.nameUserComment {
  background: linear-gradient(to right, rgb(241, 121, 235), #c296fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.avatarUserComment {
  border-radius: 100%;
}

.container-heart:hover svg {
  color: #dc1818;
}

.container-facebook:hover svg {
  color: #3b5999;
}

.already-heart {
  color: #dc1818;
}

.already-heart-container svg {
  color: #dc1818;
}

.already-heart-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.4rem;
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgba(220, 24, 24, 0.1);
}

::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #8c00ff;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #8c00ff;
}

.linear-body {
  background-image: url(./assets/linearGradient.png);
  /* background-size: cover; */
  background-attachment: fixed;
  background-position: 100% 130%;
}
