* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  background: rgba(205, 118, 255, 0.5);
}

::selection {
  background: rgba(205, 118, 255, 0.5);
}

body {
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  background-color: #e3e6ec;
  background-image: url(./assets/background.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

blockquote {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

ul {
  padding-left: 40px;
}

li {
  padding-right: 40x;
}

.nameUserComment {
  background: linear-gradient(to right, rgb(241, 121, 235), #c296fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.avatarUserComment {
  border-radius: 100%;
}
