* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  background: rgba(205, 118, 255, 0.5);
}

::selection {
  background: rgba(205, 118, 255, 0.5);
}

body {
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  background-color: #e3e6ec;
  background-image: url(./assets/background.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
